
.about-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1em;
}
.input{
    border-style: none;
    height: 4em;
    padding: 10px;
}
.text {
    height: 10em;
}
.main{
    margin-top: 70px;
}
.about-text a{
margin-top: 20px;
}
@media (max-width:640px){
    .main{
        margin-top: 10px;
    }
}