
.reserve {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    /* background-image: linear-gradient(
     rgba(0, 0, 0, 0.658),
     rgba(110, 67, 67, 0.384)
    ),
    url("pexels-mihis-alex-21014.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;      */
}


select{
    color: #14213D;
    font-size: 14px;
    background-color: #E5E5E5;
    height: 40px;
    width: 200px;
    margin-left: 1%;   
}
option{
    background-color: #E5E5E5;
}
#select h2{
    margin-top: 8%;
    color: #E5E5E5;
    font-size: 33px
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125vh;
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.658),
        rgba(110, 67, 67, 0.384)
       ),
       url("pexels-mihis-alex-21014.jpg");
       background-attachment: fixed;
       background-position: center;
       background-size: cover;     
 
}
#number{
    background-color: #E5E5E5;
    margin-top: 4%;
    height: 40px;
    width: 200px;
    margin-left: 1%; 
}
#select a{
    color: #FCA311;
    margin-left: 5%;
    font-size: 26px;
}
#Bottom:hover{
    color: #FCA311;    
}
#affichage{
    display: none;
    background-color: #14213D;
    color: #E5E5E5;
    height: 80px;
    width: 120px;
    margin-top: 5%;
    margin-left: 45%;

}
@media (max-width :640px) {
    .reserve{
      padding: 70px 20px;
    }
    #select{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 30px;
    }
    #affichage{
        margin-left: 0%;
    }
}